.footer{
  width: 100%;
  max-width: 1024px;
  font-size: 15px;
}

.fLists{
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 50px;
}

.fList{
  list-style: none;
  padding: 0;
}

.fListItem{
  margin-bottom: 10px;
  color: #2D4059;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .footer{
    font-size: 12px;
  }
}
@media screen and (max-width: 530px) {
  .footer{
    font-size: 10px;
  }
}